{% comment %} 
Hi {{username}}

You requested to password reset, click the below link to continue

<a href="{{link}}">click to continue </a>

<i>If you did not requested this, please ignore this message</i> {% endcomment %}

<!-- templates/accounts/reset_password.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Set Password</title>
</head>
<body>
    <p>Hello {{ username }},</p>
    <p>Your account has been created successfully. Please set your password using the link below:</p>
    <a href="{{link}}">click to continue </a>
        <p>If you didn't request this, please ignore this email.</p>
</body>
</html>
